@import '~antd/dist/antd.css';
.cardolas{
    width: 500px;
    height: auto;

    display: flex;
    justify-content: center;

    border-radius: 30px;
}
.cadastrar{
    margin-left: 61px;
}
.buttons{
    margin-top: 10px;
}
.h11{
    justify-content: center;
    display: flex;
}